<h1 className="title">{{title}}</h1>
<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
    <p>exchange rate-sale:</p>
    <b [ngStyle]="{'margin-left': '30px', 'font-style': 'italic'}">USD: &zwnj;</b>
    <span> 35,55000 &#8372;</span>
    <b [ngStyle]="{'margin-left': '30px', 'font-style': 'italic'}">EUR: &zwnj;</b>
    <span> 37,70000 &#8372;</span>
</div>
<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
    <p>exchange rate-buy:</p>
    <b [ngStyle]="{'margin-left': '30px', 'font-style': 'italic'}">USD: &zwnj;</b>
    <span>34.75000 &#8372;</span>
    <b [ngStyle]="{'margin-left': '30px', 'font-style': 'italic'}">EUR: &zwnj;</b>
    <span>36.70000 &#8372;</span>
</div>
<form>
    <div [ngStyle]="{'border': '1px solid rgb(85, 85, 22)', 'margin-top': '10px'}">
        <div className={s.inputStyles}>
            <div className={s.currencyBuyText}>
                <h2>{{titleForm}}</h2>
                <!-- <select className={s.inputCurrency}>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select> -->
            </div>
            <!-- <h2>Enter the amount:</h2>
            <input type="text" placeholder="enter a sum" className={s.inputCurrency} name="currencySum"
                value={currencySum} onChange={handleInputChange} />
            <button className={s.currencyBtn} type="submit">
                Count
            </button> -->
        </div>
        <!-- <p className={s.currencyResult}>
            Amount in USD:
            <span className={s.currencyResultSum}>
                {currencyResult.toFixed(2)} &#x24;
            </span>
        </p> -->
    </div>
</form>

<!-- <router-outlet>SALE currency</router-outlet> -->
<!-- <router-outlet>BUY currency</router-outlet> -->