.currencyForm {
    padding-top: 20px;
}

.currency {
    border: 1px solid rgb(85, 85, 22);
    margin-top: 10px;
}

.inputStyles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(85, 85, 22);
}

.currencyBuyText {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.inputCurrency {
    text-align: center;
    width: 90px;
    height: 20px;
    margin-left: 30px;
}

.currencyResult {
    margin-top: 20px;
    font-size: 30px;
    color:rgb(133, 179, 41);
    text-shadow: 3px 1px rgb(198, 220, 154);
}

.currencyResultSum {
    margin-left: 20px;
    color: rgb(103, 145, 20);
    font-style: italic;
}

.currencyBtn {
    margin-left: 30px;
    padding: 5px 15px;
    background-color:rgb(146, 167, 104);
    color: rgb(249, 249, 218);
    border-radius: 10%;
    border: 1px solid rgb(85, 85, 22);
}